<h1>Competitions</h1>

<% @competitions.each do |competition| %>
  <div id="competition-<%= competition.id %>">
    <p><%= link_to competition.name, competition_path(competition)%></p>
  </div>
<% end %>
